<div class="root-container">
  <mat-toolbar color="primary" [class.mat-elevation-z6]="true">
    <span>Application Title</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>Right Aligned Text</span>
  </mat-toolbar>
  <div class="content-container repo-container">
    <div class="repo-side-nav">
      <div class="repo-card">
        Repo 1
      </div>
      <div class="repo-card">
        Repo 1
      </div>
      <div class="repo-card">
        Repo 1
      </div>
      <div class="repo-card">
        Repo 1
      </div>
      <div class="repo-card">
        Repo 1
      </div>
      <div class="repo-card">
        Repo 1
      </div>
      <div class="repo-card">
        Repo 1
      </div>
      <div class="repo-card">
        Repo 1
      </div>
      <div class="repo-card">
        Repo 1
      </div>
      <div class="repo-card">
        Repo 1
      </div>
      <div class="repo-card">
        Repo 22
      </div>
    </div>

    <div class="repo-detail">
      test
    </div>
  </div>
</div>
