* {
    box-sizing: border-box !important;
}

html,
body,
.root-container {
    height: 100%;
    overflow: hidden;
}

.root-container {
    .nav-container {
        height: 68px;
    }
    .root-body {
        height: calc( 100% - 68px);
        >* {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    }
}