/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  min-height: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden;

  mat-toolbar {
    flex-shrink: 0;
  }

  .content-container {
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
  }
}


.repo-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: calc(100% - 64px);

  .repo-side-nav {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 290px;
    border-right: 1px solid lightslategray;
    overflow-y: auto;
  }

  .repo-detail {
    flex-grow: 1;
  }
}

.repo-card {
  height: 6rem;
  width: 100%;
  border-bottom: 1px solid red;
}
